<h1>Welcome to the Admin Dashboard</h1>

<ul class="list-group">
  <li class="list-group-item">Number of Products: <%= @products%></li>
  <li class="list-group-item">Number of Categories: <%= @category%> </li>
</ul>


<h5> See all products <%= link_to 'listed here', admin_products_path %> </h5>
